{%extends 'sneat/base.html'%}



{%block content%}
<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div style="padding: 10px; padding-left: 30px; border-left: 10px solid gray">
        <p>When I first downloaded Flask and Django I thought I was getting wordpress but with python instead of php. I wished for something like this.</p>
        <p><a href="https://www.reddit.com/r/flask/comments/10td4kp/comment/j764nxs/?utm_source=share&utm_medium=web2x&context=3">
          <i>-- comfortablybum</i>
        </a></p>
      </div>
    </div>
  </div>
</div>
{%endblock%}
