{%extends get_active_back_theme()+'/base.html'%} {%block content%}
<br />
<i>Note: change theme in .env file also </i>
<br />
<div class="container">
  <br />
  <div class="card" style="color: black">
    <div class="card-header">Front Theme</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Choose</th>

          </tr>
        </thead>
        <tbody>
          {%for key in all_front_info%}
          <tr>
            <td>
          
              {%if active_front_theme != key%}
              <a
                class=""
                href="{{url_for('theme.activate_front_theme', theme_name=key)}}"
              >

              {{key}} by
           {{all_front_info[key]['author']}}

                  <input
                    type="radio"
                    value=""
                    disabled=""
                  />

              </a>
              {%else%}
              <a
                class=""
                href="{{url_for('theme.activate_front_theme', theme_name=key)}}"
              >

              {{key}} by
           {{all_front_info[key]['author']}}

                  <input
                    type="radio"
                    value=""
                    checked
                  />

              </a>
              {%endif%}
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="card" style="color: black">
    <div class="card-header">Back Theme</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>choose</th>
          </tr>
        </thead>
        <tbody>
          {%for key in all_back_info%}
          <tr>
            <td>
               {%if active_back_theme
              != key%}
              <a
              class="theme-input"
                class=""
                href="{{url_for('theme.activate_back_theme', theme_name=key)}}"
              >
              {{key}} by {{all_back_info[key]['author']}}
                <input type="radio" value="" disabled="" />
              </a>
              {%else%}
              <a
              class="theme-input"
                class=""
                href="{{url_for('theme.activate_back_theme', theme_name=key)}}"
              >
              {{key}} by {{all_back_info[key]['author']}}
                <input name="" type="radio" value="" checked="" />
              </a>
              {%endif%}
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="card" style="color: black">
    <div class="card-header">Iconset</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {%for icon in ['fa', 'boxicons']%}
          <tr>
            <td>
              {%if active_iconset != icon%}
              <a
                class="theme-input"
                href="{{url_for('theme.activate_iconset', name=icon)}}"
              >
                {{icon}}
                <input type="radio" value="" disabled="" />
              </a>
              {%else%}
              <a
                class="theme-input"
                href="{{url_for('theme.activate_iconset', name=icon)}}"
              >
                {{icon}}
                <input type="radio" value="" checked="" />
              </a>

              {%endif%}
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>

  <div></div>
</div>

{% endblock %}
