<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{{url_for('static', filename='fontawesome/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{url_for('static', filename='themes/back/sbadmin/css/sb-admin-2.min.css')}}" rel="stylesheet">
    
    <style>
        .theme-input:hover{
            cursor: pointer !important;
       }
    </style>
    {%block head%}
    {%endblock%}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img width=40 height=40 src="{{ url_for('static', filename='logo.svg') }}">
                </div>
                <div class="sidebar-brand-text mx-3">PythonCMS</div>
            </a>

            

            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>



            {% set all_info = get_modules_info() %}
            {% for info in all_info %}
                {% if all_info[info]['type'] == 'show' %}
                    {% set moduleinfo = all_info[info] %}
                    {%if 'dashboard' in all_info[info]%}
                        {% set link = all_info[info]['url_prefix'] + all_info[info]['dashboard'] %}
                    {%else%}
                        {% set link = all_info[info]['url_prefix'] %}
                    {%endif%}
                    {%if 'menu-type' not in moduleinfo %}
                        {%set menu_type="no-menu"%}
                    {%endif%}
                    {%if 'menu' in moduleinfo%}
                        {%set menu_type='show-menu'%}
                    {%endif%}
                    {%if 'menu-type' in moduleinfo %}
                        {%set menu_type=all_info['menu-type']%}
                    {%endif%}

                    {%if menu_type == 'no-menu'%}
                        <li class="nav-item {{'active' if get_url_prefix() == moduleinfo['url_prefix']}}">
                            <a class="nav-link" href="{{link}}">
                                {%if 'file' in moduleinfo['icons']%}
                                    <img class="menu-icon" src="{{get_static(moduleinfo['static_name'], moduleinfo['icons']['file'])}}">
                                {%else%}
                                    {%if get_value('ACTIVE_ICONSET') == 'fa'%}
                                    <i class="{{moduleinfo['icons']['fa']}}"></i>
                                    {%else%}
                                    <i class="menu-icon tf-icons {{moduleinfo['icons']['boxicons']}}"></i>
                                    {%endif%}
                                {%endif%}
                                <span>{{moduleinfo['display_string']}}</span>
                            </a>
                        </li>
                    {%elif menu_type == 'show-menu'%}
                        <li class="nav-item {{'open active' if get_url_prefix() == moduleinfo['url_prefix']}}">
                            <a 
                                class="nav-link collapsed" 
                                href="#" 
                                data-toggle="collapse" 
                                data-target="#{{moduleinfo['display_string'].replace(' ', '-')}}"
                                aria-expanded="true" 
                                aria-controls="{{moduleinfo['display_string'].replace(' ', '-')}}">
                                {%if 'file' in moduleinfo['icons']%}
                                    <img class="menu-icon" src="{{get_static(moduleinfo['static_name'], moduleinfo['icons']['file'])}}">
                                {%else%}
                                    {%if get_value('ACTIVE_ICONSET') == 'fa'%}
                                        <i class="menu-icon {{moduleinfo['icons']['fa']}}"></i>
                                    {%else%}
                                        <i class="menu-icon tf-icons {{moduleinfo['icons']['boxicons']}}"></i>
                                    {%endif%}
                                {%endif%}
                                <span>{{moduleinfo['display_string']}}</span></a>
                            </a>
                            <div 
                                id="{{moduleinfo['display_string'].replace(' ', '-')}}" 
                                class="collapse" 
                                aria-labelledby="headingUtilities"
                                data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <h6 class="collapse-header"></h6>

                                {%for menu in moduleinfo['menu'] %}
                                {%set menuname = menu%}
                                {%set menulink = moduleinfo['menu'][menu]%}
                                {%set subprefix = moduleinfo['url_prefix'] + menulink%}


                                <a class="collapse-item {{'active' if get_url_prefix(parts=1, as_str=1) == moduleinfo['url_prefix']+menulink}}"
                                href="{{moduleinfo['url_prefix']+menulink}}">
                                {{menuname}}</a>
                                {%endfor%}

                                </div>
                            </div>
                        </li>

                    {%endif%}
                {% endif %}
            {% endfor %}
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <!-- <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div> -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{current_user.first_name}} {{current_user.last_name}}</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static', filename='logo.svg') }}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <!-- <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{url_for('auth.logout')}}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                {% block content %}{%endblock%}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; {{get_value('SITE_TITLE')}}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{url_for('auth.logout')}}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static', filename='themes/back/sbadmin/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='themes/back/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename='themes/back/sbadmin/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static', filename='themes/back/sbadmin/js/sb-admin-2.min.js')}}"></script>

    

</body>

</html>